<ion-list no-lines>
  <form [formGroup]="userData">
     <ion-item>
         <ion-label floating>Personal ID * </ion-label>
         <ion-input formControlName="personalId" [class.invalid]="!userData.controls.personalId.valid && (userData.controls.personalId.dirty || submitAttempt)"></ion-input>
     </ion-item> 
     <ion-item *ngIf="!userData.controls.personalId.valid  && (userData.controls.personalId.dirty || submitAttempt)">
         <p>Please enter a valid personal ID.</p>
     </ion-item>                            
      <ion-item>
          <ion-label floating>First Name Polish * </ion-label>
          <ion-input formControlName="userFirstName"  [class.invalid]="!userData.controls.userFirstName.valid && (userData.controls.userFirstName.dirty || submitAttempt)"></ion-input>
      </ion-item>
      <ion-item *ngIf="!userData.controls.userFirstName.valid  && (userData.controls.userFirstName.dirty || submitAttempt)">
         <p>Please enter a valid name.</p>
     </ion-item>
     <ion-item>
         <ion-label floating>First Name Eng * </ion-label>
         <ion-input formControlName="userSurname" [class.invalid]="!userData.controls.userSurname.valid && (userData.controls.userSurname.dirty || submitAttempt)"></ion-input>
     </ion-item>
     <ion-item *ngIf="!userData.controls.userSurname.valid  && (userData.controls.userSurname.dirty || submitAttempt)">
        <p>Please enter a valid name.</p>
    </ion-item>                               
  </form>
</ion-list>
<button *ngIf="isEditBind" ion-button full color="adminPrimary"  (click)="clickedUpdateUser()">Update user</button>
<button *ngIf="!isEditBind" ion-button full color="adminPrimary"  (click)="addNewUser()">Add new user</button>
